<footer class="mt-4">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="https://ezekiel-okebule.vercel.app/"><i class="fa fa-link" aria-hidden="true"></i> 11011</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://linkedin.com/ezekiel-okebule"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/carnage999-max"><i class="fa fa-github-square" aria-hidden="true"></i> GitHub</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/Ezekiel11011"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter/X</a>
        </li>
    </ul>
    <p class="nav justify-content-center" id="year">
        <script>
        let year = new Date().getFullYear()
        document.getElementById("year").innerHTML=year;
        </script>
    </p>
</footer>
